* {
    margin: 0 auto;
}

.row {
    display: flex;
}

.container {
    display: flex;
}

.place {
    width: 194px;
}

.div {
    display: flex;
}

.test {
    color: red;
}

/* .butt-place {
    display: flex;
} */

.button-style {
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: black;
}