* {
    margin: 0 auto;
}

.row {
    color: aqua;
}

.overall {
    margin: 200px;
}

.place {
    width: 194px;
}

.div {
    color: aliceblue;
}

.test {
    color: red;
}

.button-style {
    color: black;
}