.divP {
    display: flex;
    margin: 0 auto;
}

/* .container {
    display: flex;
    margin: 0 auto;
    padding: unset;
    height: 250px;
    width: 300px;
} */

/* .hidden {
    display: hidden;
}  */